body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 600px;
  height: 400px;
  background: url("assets/bg.jpg") center/cover;
  color: white;
  padding: 40px;
  box-shadow: 0 10px 40px rgba(0,0,0,0.5);
}